<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{styles/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{styles/media.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
<div class="inline-flex-box w-100">
    <div>Логин</div>
    <input>
    <div>Пароль</div>
    <input>
    <div>Авторизоваться</div>
    <div>Забыли пароль?</div>
    <a href="/register">Еще нет аккаунта?</a>
</div>
</body>
</html>