<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ДТКСС</title>
    <link rel="stylesheet" type="text/css" th:href="@{styles/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{styles/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{styles/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{styles/media.css}">
</head>
<body>
<div th:insert="~{common/header}"></div>
<div class="inline-flex-box w-100">
    <div th:insert="~{common/menu_bar}"></div>
    <div class="big-content-box">
        <h2 style="margin-bottom: 30px">
            Последние публикации
        </h2>
        <div class="stories-box">
            <div class="story-box">
                <div class="story-header">
                    <h3>Название истории</h3>
                    <div style="margin: auto 10px; color: white; font-family: Philosopher">
                        <div class="stat-unit">
                            <img src="/images/like_icon.svg">
                            <div>10</div>
                        </div>
                        <div class="stat-unit">
                            <img src="/images/dislike_icon.svg">
                            <div>1</div>
                        </div>
                        <div class="stat-unit">
                            <img src="/images/comment_icon.svg">
                            <div>2</div>
                        </div>
                        <div class="stat-unit">
                            <img src="/images/author_icon.svg">
                            <div>Злодеус Злей</div>
                        </div>
                        <div class="stat-unit">
                            <img style="width: 20px; background-position: center center; background-repeat: no-repeat;" src="/images/calendar_icon.svg">
                            <div>23.02.2024 14:43</div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="tags-box">
                    <div class="tag">#Тег1</div>
                    <div class="tag">#ТегПоБолЬше</div>
                    <div class="tag">#тег3</div>
                </div>
                <hr>
                <textarea readonly class="text-box txt-regular">Однажды, темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной
темной-темной темной-темной темной-темной темной-темной темной-темной
темной-темной темной-темной темной-темной темной-темной темной-темной
темной-темной темной-темной темной-темной темной-темной темной-темной
темной-темной темной-темной темной-темной темной-темной темной-темной
темной-темной темной-темной темной-темной темной-темной темной-темной
темной-темной темной-темной темной-темной темной-темной темной-темной
темной-темной темной-темной темной-темной темной-темной темной-темной
                    темной-темной
                    темной-темной
                    темной-темной
                    темной-темной
                    темной-темной
                    темной-темной
                    темной-темной
                </textarea>
                <div style="color: white; text-align: center; font-size: 40px">...</div>
                <div class="grey-btn middle-pos m-10-a-0-a-px no-select">Читать полностью</div>
            </div>
            <div class="story-box">
                <div class="story-header">
                    <h3>Название истории</h3>
                    <div style="margin: auto 10px; color: white; font-family: Philosopher">
                        <div class="stat-unit">
                            <img src="/images/like_icon.svg">
                            <div>10</div>
                        </div>
                        <div class="stat-unit">
                            <img src="/images/dislike_icon.svg">
                            <div>1</div>
                        </div>
                        <div class="stat-unit">
                            <img src="/images/comment_icon.svg">
                            <div>2</div>
                        </div>
                        <div class="stat-unit">
                            <img src="/images/author_icon.svg">
                            <div>Злодеус Злей</div>
                        </div>
                        <div class="stat-unit">
                            <img style="width: 20px; background-position: center center; background-repeat: no-repeat;" src="/images/calendar_icon.svg">
                            <div>23.02.2024 14:43</div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="tags-box">
                    <div class="tag">#Тег1</div>
                    <div class="tag">#ТегПоБолЬше</div>
                    <div class="tag">#тег3</div>
                </div>
                <hr>
                <textarea readonly class="text-box txt-regular">Однажды, темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной
темной-темной темной-темной темной-темной темной-темной темной-темной
темной-темной темной-темной темной-темной темной-темной темной-темной
темной-темной темной-темной темной-темной темной-темной темной-темной
темной-темной темной-темной темной-темной темной-темной темной-темной
темной-темной темной-темной темной-темной темной-темной темной-темной
темной-темной темной-темной темной-темной темной-темной темной-темной
темной-темной темной-темной темной-темной темной-темной темной-темной
                    темной-темной
                    темной-темной
                    темной-темной
                    темной-темной
                    темной-темной
                    темной-темной
                    темной-темной
                </textarea>
                <div style="color: white; text-align: center; font-size: 40px">...</div>
                <div class="grey-btn middle-pos m-10-a-0-a-px no-select">Читать полностью</div>
            </div>
            <div class="story-box">
                <div class="story-header">
                    <h3>Название истории</h3>
                    <div style="margin: auto 10px; color: white; font-family: Philosopher">
                        <div class="stat-unit">
                            <img src="/images/like_icon.svg">
                            <div>10</div>
                        </div>
                        <div class="stat-unit">
                            <img src="/images/dislike_icon.svg">
                            <div>1</div>
                        </div>
                        <div class="stat-unit">
                            <img src="/images/comment_icon.svg">
                            <div>2</div>
                        </div>
                        <div class="stat-unit">
                            <img src="/images/author_icon.svg">
                            <div>Злодеус Злей</div>
                        </div>
                        <div class="stat-unit">
                            <img style="width: 20px; background-position: center center; background-repeat: no-repeat;" src="/images/calendar_icon.svg">
                            <div>23.02.2024 14:43</div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="tags-box">
                    <div class="tag">#Тег1</div>
                    <div class="tag">#ТегПоБолЬше</div>
                    <div class="tag">#тег3</div>
                </div>
                <hr>
                <textarea readonly class="text-box txt-regular">Однажды, темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной
темной-темной темной-темной темной-темной темной-темной темной-темной
темной-темной темной-темной темной-темной темной-темной темной-темной
темной-темной темной-темной темной-темной темной-темной темной-темной
темной-темной темной-темной темной-темной темной-темной темной-темной
темной-темной темной-темной темной-темной темной-темной темной-темной
темной-темной темной-темной темной-темной темной-темной темной-темной
темной-темной темной-темной темной-темной темной-темной темной-темной
                    темной-темной
                    темной-темной
                    темной-темной
                    темной-темной
                    темной-темной
                    темной-темной
                    темной-темной
                </textarea>
                <div style="color: white; text-align: center; font-size: 40px">...</div>
                <div class="grey-btn middle-pos m-10-a-0-a-px no-select">Читать полностью</div>
            </div>
        </div>
    </div>
    <div class="dices-box" th:insert="~{common/right_menu}"></div>
    <div th:insert="~{common/menu_bot_bar}"></div>
</div>
</body>
</html>