<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>This is the main page</title>
    <link rel="stylesheet" type="text/css" th:href="@{styles/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{styles/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{styles/main.css}">
</head>
<body>
<div th:insert="~{common/header}"></div>
<div class="inline-flex-box">
    <div th:insert="~{common/menu_bar}"></div>
    <div class="big-content-box">
        <h2 style="margin-bottom: 30px">
            Последние публикации
        </h2>
        <div class="stories-box">
            <div class="story-box">
                <div class="story-header">
                    <h3>Название истории</h3>
                    <div>Статистика истории</div>
                </div>
                <hr>
                <div class="tags-box">
                    <div class="tag">#Тег1</div>
                    <div class="tag">#ТегПоБолЬше</div>
                    <div class="tag">#тег3</div>
                </div>
                <hr>
                <textarea readonly class="text-box txt-regular">Однажды, темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной
темной-темной темной-темной темной-темной темной-темной темной-темной
темной-темной темной-темной темной-темной темной-темной темной-темной
темной-темной темной-темной темной-темной темной-темной темной-темной
темной-темной темной-темной темной-темной темной-темной темной-темной
темной-темной темной-темной темной-темной темной-темной темной-темной
темной-темной темной-темной темной-темной темной-темной темной-темной
темной-темной темной-темной темной-темной темной-темной темной-темной
                    темной-темной
                    темной-темной
                    темной-темной
                    темной-темной
                    темной-темной
                    темной-темной
                    темной-темной
                </textarea>
                <div style="color: white; text-align: center; font-size: 40px">...</div>
                <div class="grey-btn middle-pos m-10-a-0-a-px no-select">Читать полностью</div>
            </div>
            <div class="story-box">
                <div class="story-header">
                    <h3>Название истории</h3>
                    <div>Статистика истории</div>
                </div>
                <hr>
                <div class="tags-box">
                    <div class="tag">#Тег1</div>
                    <div class="tag">#ТегПоБолЬше</div>
                    <div class="tag">#тег3</div>
                </div>
                <hr>
                <textarea readonly class="text-box txt-regular">Однажды, темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной
темной-темной темной-темной темной-темной темной-темной темной-темной
темной-темной темной-темной темной-темной темной-темной темной-темной
темной-темной темной-темной темной-темной темной-темной темной-темной
темной-темной темной-темной темной-темной темной-темной темной-темной
темной-темной темной-темной темной-темной темной-темной темной-темной
темной-темной темной-темной темной-темной темной-темной темной-темной
темной-темной темной-темной темной-темной темной-темной темной-темной
                    темной-темной
                    темной-темной
                    темной-темной
                    темной-темной
                    темной-темной
                    темной-темной
                    темной-темной
                </textarea>
                <div style="color: white; text-align: center; font-size: 40px">...</div>
                <div class="grey-btn middle-pos m-10-a-0-a-px no-select">Читать полностью</div>
            </div>
            <div class="story-box">
                <div class="story-header">
                    <h3>Название истории</h3>
                    <div>Статистика истории</div>
                </div>
                <hr>
                <div class="tags-box">
                    <div class="tag">#Тег1</div>
                    <div class="tag">#ТегПоБолЬше</div>
                    <div class="tag">#тег3</div>
                </div>
                <hr>
                <textarea readonly class="text-box txt-regular">Однажды, темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной темной-темной
темной-темной темной-темной темной-темной темной-темной темной-темной
темной-темной темной-темной темной-темной темной-темной темной-темной
темной-темной темной-темной темной-темной темной-темной темной-темной
темной-темной темной-темной темной-темной темной-темной темной-темной
темной-темной темной-темной темной-темной темной-темной темной-темной
темной-темной темной-темной темной-темной темной-темной темной-темной
темной-темной темной-темной темной-темной темной-темной темной-темной
                    темной-темной
                    темной-темной
                    темной-темной
                    темной-темной
                    темной-темной
                    темной-темной
                    темной-темной
                </textarea>
                <div style="color: white; text-align: center; font-size: 40px">...</div>
                <div class="grey-btn middle-pos m-10-a-0-a-px no-select">Читать полностью</div>
            </div>
        </div>
    </div>
    <div class="dices-box" th:insert="~{common/right_menu}"></div>
</div>
</body>
</html>