<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ДТКСС. Отправить историю</title>
    <link rel="stylesheet" type="text/css" th:href="@{styles/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{styles/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{styles/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{styles/media.css}">
</head>
<body>
<div th:insert="~{common/header}"></div>
<div class="inline-flex-box w-100">
    <div th:insert="~{common/menu_bar}"></div>
    <div class="big-content-box">
        <div class="txt-header-2">Новая история</div>
        <div class="txt-header-3 m-t-20-px">Название истории</div>
        <input style="height: auto">
        <div class="txt-header-3 m-t-20-px">Текст истории</div>
        <textarea style="height: 245px"></textarea>
        <div class="inline-flex-box">
            <div class="light-btn">Определить конец</div>
            <input style="height: auto; font-size: 20px; color: #FFD643" readonly value="Умер от смеха">
        </div>
        <div class="txt-header-3 m-t-20-px">Теги (через запятую)</div>
        <textarea style="height: 100px"></textarea>
        <div class="middle-pos">Опубликовать</div>
    </div>
    <div class="dices-box" th:insert="~{common/right_menu}"></div>
    <div th:insert="~{common/menu_bot_bar}"></div>
</div>
</body>
</html>